<div class="container" style="width: 100%; max-width: 90%; height: 100vh;">
    <div class="content-center" style="width: 100%;">


        <div style="width: 100%; height: 80vh; position: relative; text-align: center;">
            <img alt="" src="" style="position: absolute; margin: auto; pointer-events: none;"
                src="assets/img/ipad2_background.png" />
            <iframe #board style="padding: 20px; position: absolute; margin: auto;"
                src="https://miro.com/app/live-embed/uXjVOUjWNe0=/?moveToViewport=-3862,-2537,5963,4153" frameBorder="0"
                scrolling="no" allowFullScreen [style.height.px]="boardHeight" [style.width.px]="boardWidth"></iframe>
            <img #ipad alt="" src="" style="position: relative; margin: auto; pointer-events: none;"
                src="assets/img/ipad2.png" />
        </div>

        <div class="canvas-container" style="display: none;">
            <img alt="" src="" style="background-color: transparent; width: 900px; height: 600px; position: absolute;"
                *ngFor="let image of images" [src]="image" />
            <canvas #canvas></canvas>
        </div>

    </div>
</div>