<div class="container">

  <div style="display: flex; flex-direction: column;">

    <div class="row">
      <div class="col-sm" style="display: flex;"><img class="animate__animated animate__fadeInLeft" alt=""
          src="assets/img/homeLeft1.png"
          style="width: 80%; margin:auto; height: auto; object-fit: contain; margin-top: 50px;" />
      </div>

      <div class="col-sm" style="display: flex; flex-direction: column;">
        <img class="animate__animated animate__fadeInDown" alt="" src="assets/img/homeRight1.png"
          style="width: 80%; margin:auto; height: auto; object-fit: contain; margin-bottom: 10px; margin-top: 25%;" />
        <a [routerLink]="'/register'" class="whiteButton registerButton animate__animated animate__fadeInUp">
          REGÍSTRATE</a>
      </div>
    </div>
  </div>

  <img class="topLeftLight animate__animated animate__fadeInDown" alt="" src="assets/img/top-left-light.png" />
  <img class="bottomLeftLight animate__animated animate__fadeInUp" alt="" src="assets/img/bottom-left-light.png" />
  <img class="topRightLight animate__animated animate__fadeInDown" alt="" src="assets/img/top-right-light.png" />
  <img class="bottomRightLight animate__animated animate__fadeInUp" alt="" src="assets/img/bottom-right-light.png" />

</div>