<div class="container">

    <div style="display: flex; flex-direction: column;">

        <div class="row" style="margin-top: 50px;">
            <div class="col-sm" style="display: flex; flex-grow: 0.7;"><img
                    class="animate__animated animate__fadeInLeft" alt="" src="assets/img/line_up_title.png"
                    style="width: 100%; margin:auto; height: auto; object-fit: contain; margin-top: 50px;" />
            </div>

            <div class="col-sm" style="display: flex; flex-direction: column;">

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 schedule-table">
                    <!-- title Column -->
                    <ng-container matColumnDef="schedule-title">
                        <th mat-header-cell *matHeaderCellDef style="opacity: 0; margin-top: 0px;"></th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="schedule-AR">
                        <th mat-header-cell *matHeaderCellDef> AR · UR · PY </th>
                        <td mat-cell *matCellDef="let element"> {{element.AR}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="schedule-BO">
                        <th mat-header-cell *matHeaderCellDef> BO </th>
                        <td mat-cell *matCellDef="let element"> {{element.BO}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="schedule-EC">
                        <th mat-header-cell *matHeaderCellDef> EC · PE · CO </th>
                        <td mat-cell *matCellDef="let element"> {{element.EC}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="schedule-USA">
                        <th mat-header-cell *matHeaderCellDef> USA </th>
                        <td mat-cell *matCellDef="let element"> {{element.EC}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="schedule-TIEMPO">
                        <th mat-header-cell *matHeaderCellDef> TIEMPO </th>
                        <td mat-cell *matCellDef="let element"> {{element.TIEMPO}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="schedule-SPEAKER">
                        <th mat-header-cell *matHeaderCellDef> SPEAKER </th>
                        <td mat-cell *matCellDef="let element"> {{element.SPEAKER}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>


            </div>
        </div>
    </div>

</div>