<div class="container">

    <div style="display: flex; flex-direction: column;">

        <div class="row full-screen">
            <div class="col-sm" style="display: flex;">
            </div>

            <div class="col-sm" style="display: flex; flex-direction: column;">

            </div>
        </div>
    </div>

    <img class="topLeftLight animate__animated animate__fadeInDown" alt="" src="assets/img/top-left-light.png" />
    <img class="bottomLeftLight animate__animated animate__fadeInUp" alt="" src="assets/img/bottom-left-light.png" />
    <img class="topRightLight animate__animated animate__fadeInDown" alt="" src="assets/img/top-right-light.png" />
    <img class="bottomRightLight animate__animated animate__fadeInUp" alt="" src="assets/img/bottom-right-light.png" />

</div>