.container {
    display: block;
    text-align: end;
    margin-right: 20px;
}

a {
    margin-right: 30px;
    color: #cecece !important;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: normal;
}

.navbar {
    width: fit-content;
    margin-right: 0px;
    margin-left: auto;
}
