.example-card {
    max-width: 600px;
    margin: auto;
    padding: 40px;
}

p {
    color: black;
}

mat-radio-button {
    width: 100%;
}

.mat-card-actions .mat-button {
    margin: 0 8px;
    min-height: 45px;
}
