<div class="container" *ngIf="showGanadores">

  <div style="display: flex; flex-direction: column;">

    <div class="row">
      <div class="col-sm" style="display: flex;">

        <img class="animate__animated animate__fadeInLeft" alt="" src="assets/img/homeLeft1.png"
          style="width: 80%; margin:auto; height: auto; object-fit: contain; margin-top: 50px;" />
      </div>

      <div class="col-sm" style="display: flex; flex-direction: column;">

        <img class="animate__animated animate__fadeInDown" alt="" src="assets/img/ganadores.png"
          style="width: 80%; margin:auto; height: auto; object-fit: contain; margin-bottom: 10px; margin-top: 25%;" />

      </div>
    </div>
  </div>


</div>



<div *ngIf="!showGanadores">

  <div *ngIf="!start" style="width: 90%; max-width: 800px; height: 50vh; margin: auto; margin-top: 50px;">
    <a style="cursor: pointer;" (click)="startQuestions()">
      <img alt="" src="assets/img/concurso.png" />
    </a>
  </div>

  <div *ngIf="start" style="margin-top: 20px;">

    <div *ngFor="let question of questions; index as i">
      <mat-card class="example-card animate__animated animate__headShake" *ngIf="actualIndex == i"
        [ngStyle]="{'opacity' : visible ? 1 : 0}" [@slideInOut]=transition>
        <mat-card-title>{{questions[actualIndex].question}}</mat-card-title>
        <mat-card-subtitle
          style="margin-top: 0px; width: max-content; background: #00b7ff; padding-left: 10px; color: white; border-radius: 11px; font-weight: normal; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;">
          Pregunta {{questions[actualIndex].index + 1}}</mat-card-subtitle>
        <mat-card-content>

          <img *ngIf="question.image" alt="Card image" class="card-img" [src]="question.image" />

          <form [formGroup]="answers[question.index]">
            <mat-radio-group
              style="margin-top: 20px; display: flex; flex-wrap: wrap; gap: 8%; margin-top: 20px; margin-left: 4%;"
              formControlName='selected'>

              <mat-radio-button *ngFor="let option of question.options; index as j" class="radio-button" [value]="j"
                style="display: flex; width: 44%;">
                {{option}}</mat-radio-button>

            </mat-radio-group>
          </form>

          <!-- 

          <form [formGroup]="answers[i]">
            <label>
              <input type="radio" value="Male" formControlName="selected">
              <span>male</span>
            </label>
            <label>
              <input type="radio" value="Female" formControlName="selected">
              <span>female</span>
            </label>
          </form>
        -->


        </mat-card-content>
        <mat-card-actions
          style="text-align: center; display: flex; flex-direction: row; margin: auto; width: fit-content;">

          <button mat-button (click)="previousQuestion()" style="color: white; background: #327bbb;"
            [ngStyle]="{'opacity' : actualIndex == 0 ? 0.5 : 1}">ANTERIOR</button>
          <div style="width: 50px;"></div>

          <button *ngIf="actualIndex != questions.length - 1" mat-button (click)="nextQuestion()"
            style="color: white; background: #327bbb;">SIGUIENTE</button>

          <button *ngIf="actualIndex == questions.length - 1" mat-button (click)="sendQuestions()"
            style="color: white; background: #349f34;">FINALIZAR</button>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>