<div class="main background">
  <div class="page-header">
    <!-- <div id="remote-container"></div> -->
    <div class="row content-center" style="margin-right: 0;
                                           margin-left: 0;
                                           width: 90vw;">
      <div class="col-md-12">
        <div class="title"><h4>Stream Settings</h4></div>
        <div class="row">
          <div class="col-md-12"  style="margin-top: 100px;">
            <div class="dropdown" dropdown>
              <button
                aria-expanded="false"
                aria-haspopup="true"
                class="btn btn-neutral btn-lg btn-liga dropdown-toggle"
                data-toggle="dropdown"
                dropdownToggle
                id="navbarDropdownMenuLink"
              >
                {{camera.name}}
              </button>
              <div
                aria-labelledby="navbarDropdownMenuLink"
                class="dropdown-menu"
                *dropdownMenu
              > 
                <div *ngFor="let item of data">
                  <a class="dropdown-item" (click)="select(item)">
                    {{item.name}}
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12"  style="margin-top: 100px;">
            <div class="dropdown" dropdown>
              <button
                aria-expanded="false"
                aria-haspopup="true"
                class="btn btn-neutral btn-lg btn-liga dropdown-toggle"
                data-toggle="dropdown"
                dropdownToggle
                id="navbarDropdownMenuLink"
              >
                {{quality.name}}
              </button>
              <div
                aria-labelledby="navbarDropdownMenuLink"
                class="dropdown-menu"
                *dropdownMenu
              > 
                <div *ngFor="let item of data1">
                  <a class="dropdown-item" (click)="select1(item)">
                    {{item.name}}
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12"  style="margin-top: 100px;">
            <button class="btn btn-neutral btn-lg btn-liga" (click)="stream()">
              INICIAR STREAM
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

