<div class="wrapper background">
  <div class="page-header">
    <div class="container">
      <div class="content-center img-liga">
        <div class="row">
          <div class="col-md-12">
            <img class="bg-blob bg-liga" [lazyLoad]="imageSrc1" />
          </div>
          <!-- <div class="col-md-12 animate__animated animate__heartBeat animate__infinite">
            <img class="bg-blob bg-liga img-mid" [lazyLoad]="imageSrc2"/>
          </div> -->
          <!-- <div class="col-md-12">
            <img class="bg-blob bg-liga" [lazyLoad]="imageSrc3" />
          </div> -->
          <!-- <div class="col-md-12 animate__animated animate__tada">
            <img class="bg-blob img-cnt" [lazyLoad]="imageSrc4" (click)="exit()"/>
          </div> -->
        </div>
      </div>
    </div>
</div>

